<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mpaas.demo">

    <application
        android:name="com.mpaas.demo.LauncherApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 小程序 aar 配置-->
        <meta-data
            android:name="nebula.android.meta.enable"
            android:value="true" />
        <!--UC开发者Key-->
        <meta-data
            android:name="UCSDKAppKey"
            android:value="JJQ/FLbHKX+ETiFNpCcb0fqjPfQ+JnjGBxDaqUm0MDcNATUVfsVrSh4KHq8of4/pFud/TDgjKf8891LpDlGG4w==" />

        <activity android:name="com.mpaas.demo.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mpaas.demo.tinyapp.FastStartActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.PreviewDebugActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.OptionMenuActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.CustomTitleActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.StartupLoadingActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.CustomApiActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.PermissionDisplayActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.TinyAppShareActivity" />
        <activity android:name="com.mpaas.demo.tinyapp.OpenAuthActivity" />
    </application>

</manifest>